<tr class="song-row">
  <td class="title"><a href="/songs/<%= song_number %>"><%= title %></a></td>
  <td class="composer"><%= composer %></td>
  <td class="voicing"><%= voicing %></td>
  <td class="category"><%= category %></td>
  <td id="larger_work2"><%= larger_work %></td>
  <td class="arranger_one"><%= arranger_one %></td>
  <td class="arranger_two"><%= arranger_two %></td>
  <!--<td class="PDF"><a href='PDFViewer/web/viewer.html?file=/SongPDFs/1.pdf'> Song PDF</a></td>-->
  <!--<td class="PDF"><a href='PDFViewer/web/viewer.html?file=/SongPDFs/1.pdf'> Song PDF</a></td>-->
</tr>