<tr class="song-row">
  <td class="title song-row "><a href="/songs/<%= song_number %>"><%= title %></a></td>
  <td class="composer song-row "><%= composer %></td>
  <td class="voicing song-row "><%= voicing %></td>
  <td class="category song-row "><%= category %></td>
  <td class="larger_work song-row"><%= larger_work %></td>
  <td class="arranger_one song-row"><%= arranger_one %></td>
  <td class="arranger_two song-row"><%= arranger_two %></td>
  <!--<td class="PDF"><a href='PDFViewer/web/viewer.html?file=/SongPDFs/1.pdf'> Song PDF</a></td>-->
  <!--<td class="PDF"><a href='PDFViewer/web/viewer.html?file=/SongPDFs/1.pdf'> Song PDF</a></td>-->
</tr>