<div  class="the_search_container">
  <h3 class="search-title">Searching for Songs</h3>
  <p class="search-instructions">Searching is case insensitive and you need only enter only a partial string.
    Also, each field you enter narrows the search.  Thus, typing <span class="italic">noel</span> into the Title field and
  <span class="italic">johnson</span> into the Composer field will return only <span class="italic">African Noel</span>.
  </p>
  <br>
  <div class="song_search">Song Search
    <%= form_tag '/songs/search' do %>
      <%= submit_tag 'Search', class: "blue-button simple-button search-button" %>
      <br>

      <%= text_field_tag 'title', nil, class: "title2 search-row-height", placeholder: "Title" %>
      <%= text_field_tag 'composer', nil, class: 'composer search-row-height', placeholder: "Composer" %>
      <%= text_field_tag 'voicing', nil, class: 'voicing search-row-height', placeholder: "Voicing" %>
      <%= text_field_tag 'category', nil, class: 'category search-row-height', placeholder: "Category" %>
      <%= text_field_tag 'larger_work', nil, class: 'larger_work search-row-height', placeholder: "Larger Work" %>
      <%= text_field_tag 'arranger_one', nil, class: 'arranger_one search-row-height', placeholder: "Arranger One" %>
      <%= text_field_tag 'arranger_two', nil, class: 'arranger_two search-row-height', placeholder: "Arranger Two" %>
    <% end %>
  </div>

  <div class="tablediv">
    <table class="song_table">
      <tr class="song-heading"></tr>


      <% @songs.each do |song| %>
        <%= render partial: "song", :locals => {title: song.title, :song_id => song.id, :composer => song.composer,
                                                :larger_work => song.larger_work, :voicing => song.voicing,
                                                :category => song.category, :larger_work => song.larger_work,
                                                :arranger_one => song.arranger_one, :arranger_two => song.arranger_two,
                                                :song_number => song.song_number} %>
      <% end %>


    </table>
  </div>
</div>