<div class="form-container">
  <%= form_for @song do |f| %>
    <% if @song.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

        <ul>
          <% @song.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="page-title">Edit Song Information:</div>
    <br>
    <br>
    <br>

    <div class="song-edit-div" id="song-title-div" >
      <%= f.label :title, 'Song Title:', class: "song-edit-label" %><br>
      <%= image_tag("shadow_box.png") %>
      <%= f.text_field :title, class: "song-edit-field", placeholder: "Title" %>
    </div>
    <div class="song-edit-div">
       <%= f.label :composer, 'Composer:', class: "song-edit-label" %><br>
        <%= image_tag("shadow_box.png") %>
       <%= f.text_field :composer, class: "song-edit-field", placeholder: "Composer" %>
    </div>
    <div class="song-edit-div" id="song-voicing-div">
        <%= f.label :voicing, 'Voicing:', class: "song-edit-label" %><br>
        <%= image_tag("shadow_box.png") %>
        <%= f.text_field :voicing, class: "song-edit-field", placeholder: "Voicing" %>
    </div>
    <div class="song-edit-div" id="song-category-div">
        <%= f.label :category, 'Category:', class: "song-edit-label" %><br>
        <%= image_tag("shadow_box.png") %>
        <%= f.text_field :category, class: "song-edit-field", placeholder: "Category" %>
    </div>
    <div class="song-edit-div" id="song-larger-work-div">
       <%= f.label :larger_work, 'Larger Work:', class: "song-edit-label" %><br>
          <%= image_tag("shadow_box.png") %>
       <%= f.text_field :larger_work, class: "song-edit-field", placeholder: "Name of larger work" %>
    </div>
    <div class="song-edit-div" id="song-arranger-one-div">
       <%= f.label :arranger_one, 'First Arranger:', class: "song-edit-label" %>
       <br>
          <%= image_tag("shadow_box.png") %>
        <%= f.text_field :arranger_one, class: "song-edit-field", placeholder: "First arranger" %>
     </div>
     <div class="song-edit-div" id="song-arranger-two-div">
         <%= f.label :arranger_two, 'Second Arranger:', class: "song-edit-label" %>
         <br>
           <%= image_tag("shadow_box.png") %>
         <%= f.text_field :arranger_two, class: "song-edit-field", placeholder: "Second arranger" %>
     </div>
           <br>
     <div class="actions">
         <%= f.submit  class: "abut", id:"submit-song",  value: 'Submit Song' %>
      </div>
   <% end %>
</div>