<!--<link rel="stylesheet" href="/css/show_song.css">-->


<!--<div class="song_page">-->
<div class="song-container ">
  <div class="song-left_column ">
    <p class="small_title"> Title: </p>

    <p class="large_field"> <%= @song.title %> </p>

    <% if @song.composer %>
      <p class="small_title"> Composer: </p>

      <p class="large_field"> <%= @song.composer %> </p>
    <% end %>

    <% if @song.voicing %>
      <p class="small_title"> Voicing: </p>

      <p class="large_field"> <%= @song.voicing %> </p>
    <% end %>

    <% if @song.category %>
      <p class="small_title"> Catogory: </p>

      <p class="large_field"> <%= @song.category %> </p>
    <% end %>

    <% if @song.arranger_one %>
      <p class="small_title"> 1st Arranger: </p>

      <p class="large_field"> <%= @song.arranger_one %> </p>
    <% end %>

    <% if @song.arranger_two %>
      <p class="small_title"> 2nd Arranger </p>

      <p class="large_field"> <%= @song.arranger_two %> </p>
    <% end %>

    <p class="small_title"> Song Number: </p>

    <p class="large_field"> <%= @song.song_number %> </p>

    <div class="button-pod">
      <%= link_to 'Back', songs_path, class: "blue-button simple-button button2-position" %><br>
      <%= link_to 'Edit', edit_song_path, class: "green-button simple-button button4-position" %><br>
      <%= link_to 'Delete', @song, method: :delete, data: {confirm: 'Confirm delete: '}, class: "red-button
    simple-button button5-position" %>
    </div>
  </div>

  <div class="song-right_column ">
    <% path = Rails.root.join("public", "SOTS_Songs", "#{@song.song_number}.pdf").to_s %>
    <% if File.exist?(path) %>
      <iframe src="/SOTS_Songs/<%= @song.song_number %>.pdf" class="pdf">
      </iframe>
    <% end %>

  </div>
</div>



<!--</div>-->

